<div class="home-container">

    <div class="home-container-title">
        Most recent 10 docs
    </div>
    <div class="docs-list-container">
        <div *ngFor="let doc of recentDocs">
            <app-doc-cell [doc]="doc" (availabilityChanged)="reloadRecentDocs()"
            (docDeleted)="reloadRecentDocs"></app-doc-cell>
            </div>
        </div>
    </div>